<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongwon.dearfood.contents.mapper.ProductMapper">
    <resultMap id="ProductDomain" type="productDomain">
        <!--카테고리-->
        <result property="parentId" column="parentId"/>
        <result property="categoryId" column="categoryId"/>
        <result property="categoryName" column="categoryName"/>
        <!--상품정보-->
        <result property="id" column="id"/>
        <result property="productName" column="productName"/>
        <result property="description" column="description"/>
        <result property="content" column="content"/>
        <result property="price" column="price"/>
        <result property="deleteFlag" column="deleteFlag"/>
        <result property="createDate" column="createDate"/>
        <result property="modifyDate" column="modifyDate"/>
        <!--상품 이미지 정보-->
        <collection property="productImage" resultMap="ProductImageMap"/>
    </resultMap>

    <resultMap id="ProductImageMap" type="ProductImage">
        <id property="id" column="pi_id"/>
        <result property="deleteFlag" column="pi_delete_flag"/>
        <collection property="fileInfo" resultMap="fileInfoMap"/>
    </resultMap>

    <resultMap id="fileInfoMap" type="FileInfo">
        <id property="id" column="file_id"/>
        <result property="fileName" column="fileName"/>
    </resultMap>

    <select id="getProductDetail" resultType="Product">
        SELECT * FROM product
    </select>
    <select id="getProductDetailList" resultType="ProductDomain" resultMap="ProductDomain">
        SELECT c.parent_id as parentId,
        p.category_id as categoryId,
        c.name as categoryName,
        p.id,
        p.product_name as productName,
        p.description as description,
        p.content as content,
        p.price as price,
        p.delete_flag as deleteFlag,
        p.create_date as createDate,
        p.modify_date as modifyDate,
        pi.id as pi_id,
        pi.delet_flag as pi_delete_flag,
        fi.id as file_id,
        fi.file_name as fileName
        FROM product p
        INNER JOIN category c on p.category_id = c.id
        INNER JOIN product_image pi on p.id = pi.product_id
        INNER JOIN file_info fi on pi.file_id = fi.id
        where p.category_id = #{keyword};
    </select>
    <select id="checkDeleteFlag" resultType="java.lang.Integer">
        SELECT delete_flag FROM product where id = #{productId}
    </select>
    <insert id="addProduct" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO product (category_id, product_name, price, description, content)
        VALUES (#{category_id},#{productName},#{price},#{description},#{content})
    </insert>
    <insert id="addProductImage" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO product_image (product_id, file_id) values(#{productId},#{fileId})
    </insert>
    <insert id="addProductFile" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO file_info (file_name, save_file_name, content_type) values
        (#{fileName},#{saveFileName},#{contentType})
    </insert>
    <update id="deleteProduct">
        UPDATE product SET delete_flag = '1', modify_date = now() WHERE id = #{productId}
    </update>
    <update id="modifyPrice">
        UPDATE product SET price = #{modifyPrice}, modify_date = now() WHERE id = #{productId}
    </update>


</mapper>